<div class="container">
  <% @category.products.each do |product| %>
    <div class="product-item" >
      <div class="w-3/5">
        <%= render "products/product", product: product %>
      </div>
      <div class="flex flex-row  w-2/5 items-center justify-end">
        <%= form_with(url: cart_add_path) do |f| %>
          <%= f.hidden_field :id, value: product.id %>
          <%= f.submit "Add to cart", class:"btn-buy"%>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
